<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cusid">ID</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="cusid" value="<%= model.editor.cusid %>" />
  </div>
  <div>(equals)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cusfname">First Name</label>
  <div class="col-sm-6">
    <input class="form-control" name="cusfname" value="<%= model.editor.cusfname %>" />
  </div>
  <div>(begins with)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cuslname">Last Name</label>
  <div class="col-sm-6">
    <input class="form-control" name="cuslname" value="<%= model.editor.cuslname %>" />
  </div>
  <div>(begins with)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cusstate">State</label>
  <div class="col-sm-6">
    <input class="form-control" name="cusstate" value="<%= model.editor.cusstate %>" maxlength="2"/>
  </div>
  <div>(equals)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cussalesytd">Sales YTD</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="cussalesytd" value="<%= model.editor.cussalesytd %>" />
  </div>
  <div>(greater than or equal to)</div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-3" for="cussalesprev">Previous Years Sales</label>
  <div class="col-sm-6">
    <input type="number" class="form-control" name="cussalesprev" value="<%= model.editor.cussalesprev %>" />
  </div>
  <div>(greater than or equal to)</div>
</div>